footer
  .container-fluid
    ul.nav.nav-inline
      li.nav-item Powered by #{link_to "factory girl web", "https://github.com/yhirano55/factory_girl_web", class: "nav-link"} #{FactoryGirlWeb::VERSION}
